.row {
    display: flex;
    flex-wrap: wrap;
}
[class*="col-"] {
    flex-grow: 0;
    flex-shrink: 0;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

html {
    font-size: 16px;
}

main {
    box-sizing: border-box;
    width: 100%;
}
header {
    box-sizing: border-box;
    padding: 0 8%;
    width: 100%;
    height: 100px;
    background-color: rgb(66, 145, 152);
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin:0 auto;
    padding:0 auto;
}
.content {
    margin: auto;
    margin-top: 20px;
}
.photo {
    width: 100%;

}
.caption{
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
}
button {
    background-color: rgb(66, 145, 152);
    color: white;
    padding: 10px;
    border: none;
    font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.introduction {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas: "intro-left intro-right";
}
.intro-text{
    grid-area: intro-left;
  padding-top:10px;
}
.intro-image {
    grid-area: intro-right;
    padding: 30px;;
}
.chart {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "chart-left chart-right";
    padding-top: 45px;
}
.bar-chart {
    height: 250px;
    width: 400px;
    grid-area: chart-left;
}
.chart-search {
    grid-area: chart-right;
    box-sizing: border-box;
    padding: 0 10px;
    padding-left: 80px;
}
.search-title {
    color: rgb(66, 145, 152);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.left{
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.button{
    border-radius:6px;
  width:120px;
}
@media only screen and (max-width: 900px) {
    [class*="col-"] {
        box-sizing: border-box;
        padding: 0px 5px;
        width: 100%;
    }
    .introduction {
        display: flex;
    }
    .chart {
        display: flex;
    }
  .content{
    padding:100px;
  }
  .changeM{
    margin-top:30px;
    margin-bottom: 60px;
  }
  header{
    display:flex;
    justify-content: center;
    justify-item:center;
    align-items: center;
    text-align:center;
  }
}

@media only screen and (max-width: 480px) {
    [class*="col-"] {
        box-sizing: border-box;
        padding: 0px 5px;
        width: 100%;
    }
    .content{
      padding:30px;
    }
  header{
    text-align:center;
    justify-content: center;
  }
  .changeM{
    margin-top:10px;
    margin-bottom:30px;
  }
    /*.introduction {
        display: flex;
    }
    .chart {
        display: flex;
    }
  .content{
    padding:100px;
  }
  .changeM{
    margin-top:30px;
    margin-bottom:60px;
  }*/
}
